<h3>Update Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <input type="hidden" [(ngModel)]="employee.id">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"  [(ngModel)]="employee.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">Email</label>
      <input type="email" class="form-control" id="email"  [(ngModel)]="employee.email" name="email">
    </div>

    <div class="form-group">
        <label for="name">Location</label>
        <input type="text" class="form-control" id="location"  [(ngModel)]="employee.location" name="location">
      </div><br>

    <button class="btn btn-success">Submit</button>
  </form>
</div>