
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Employee List</h2>
    </div>
    <div class="panel-body">
      <table id="example" class="table table-hover">

        <thead>
          <tr>
     
            <th >Name</th>
            <th >Email</th>
            <th >Location</th>
            <th >Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
           
            <tr  *ngFor = "let employee of employees" >
       
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.location}}</td>
            <td><button (click) = "updateEmployee(employee.id)" class = "btn btn-warning"> Update</button></td>
            <td><button (click) = "deleteEmployee(employee.id)"  class = "btn btn-danger"> Delete</button></td>
            </tr>

        </tbody>
      </table>
    </div>
  </div>

